.img-alignment {
    height: 500px; 
    margin-top: 300px;
    margin-left: 250px;
}
.bullet-img {
    height: 500px; 
}

.hr-color {
    border-top: 1px solid pink;
}

.card {
    border: unset;
    box-shadow: 0 2px 2px 0 #b3798d, 0 3px 1px -2px #b3798d, 0 1px 5px 0 #b3798d
}

.list-group-item.active {
    z-index: -9999;
    border-color: pink;
    background-color: pink;
}

.bold {
    font-weight: bold;
}
