<div>
    <div class="row">
            <img src="assets/imgs/picture.jpg" class="img-alignment">


            <div style="margin-top: 310px; padding-left: 20px">
                <div style="width: 335px; font-size: 18px" >Hi there!
                    I’m a naturopathic student at the Canadian College of Naturopathic Medicine. My approach to health is simple: find out the real reasons behind your health problems, remove them, and then support your body’s innate healing power with natural medicines until the problems are resolved. I believe that your healing is only a set of clues away…I guess that makes me a certified health detective! 
                </div>
                <br>
                <div  style="width: 335px; font-size: 18px">
                    Armed with 7 years of post-secondary education, I’m ready to apply what I’ve learned for my patients at the Robert Schad Naturopathic Clinic. Are you ready to optimize your health? Continue to scroll through my website to see how a partnership with me can benefit you. 
                </div>

        </div>
    </div>
    <div>
        <div class="row" style="margin: 0 auto; width: 1000px">
            <div class="col-md-12 text-center" style="top: 25px" >
                <span class="LucidaRegular" style="color: #e0667c; font-size: 30px">Good medicine, great health starts here</span>
            </div>
        </div>
    
    </div>
    <br>
    <hr class="hr-color">
    <div class="row">
        <span class="text-center col-md-12" style="font-size: 37px">Naturopathic Services</span>
        <span class="text-center col-md-12" style="font-size: 18px">Below are a few of the many services that we offer at the Robert Schad Naturopathic Clinic.</span>
    </div>
    <div class="row cards-border" id="conditionsTreated" >
        <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="assets/imgs/blueberries.jpg" alt="Card image cap">
          <div class="card-body">
              <div class="text-center">
                <span class="bold">DIETARY ADVICE</span>
              </div>
            <p class="card-text text-center">At the root of many health concerns lays dietary problems. Keeping your food preferences in mind, we can create changes in your diet that will make a world of difference to your health.</p>
          </div>
        </div>
        </div>
        
        <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="assets/imgs/supplements.jpg" alt="Card image cap">
          <div class="card-body">
              <div class="text-center">
                <span class="bold">SUPPLEMENTS</span>
              </div>
            <p class="card-text text-center">Sometimes your body needs extra support, that’s where nutritional supplements come in. Let me help you safely and effectively maneuver through the world of supplements so you can achieve the best outcomes</p>
          </div>
        </div>
        </div>
        <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="assets/imgs/spices.jpg" alt="Card image cap">
          <div class="card-body">
              <div class="text-center">
                <span class="bold">HERBAL MEDICINE</span>
              </div>
            <p class="card-text">Botanicals are powerful agents of change. The perfect blend of herbs can be made in clinic to address your concerns. </p>
          </div>
        </div>
        </div>
        <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="assets/imgs/acupuncture-tea.jpg" alt="Card image cap">
          <div class="card-body">
              <div class="text-center">
                <span class="bold">ACUPUNCTURE</span>
              </div>
            <p class="card-text">According to Asian medicine, health problems block the flow of energy in our body. Using acupuncture tools we can work to move the energy and in turn, restore health.</p>
          </div>
        </div>
        </div>
        
        
        
        <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="assets/imgs/rocks.jpg" alt="Card image cap">
          <div class="card-body">
              <div class="text-center">
                <span class="bold">COUNSELLING</span>
              </div>
            <p class="card-text">The mind and body are interchangeable. By supporting both we can optimize your healing.</p>
          </div>
        </div>
        </div>
        
        <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="assets/imgs/tummy.jpg" alt="Card image cap">
          <div class="card-body">
              <div class="text-center">
                <span class="bold">FOOD SENSITIVITY TESTING</span>
              </div>
            <p class="card-text">The reason behind your troubles may be hidden food sensitivities. Find out if that’s the case for you.</p>
          </div>
        </div>
        </div>
    </div>
    <hr class="hr-color">
    <div class="row">
        <div class="col-md-6 offset-md-2" style="max-width: 500px">
            <img src="assets/imgs/reading.jpg" style="margin-left: 214px" class="bullet-img">
        </div>
        <div class="col-md-2 offset-md-1">
        <div class="row" style="padding-top: 25px">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Digestion</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Autoimmunity</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Pain</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Fatigue</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Sleep</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Mental health</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Hormones</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Skin</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Thyroid</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Weight loss</a>
            </div>
        <div class="col-4">
              </div>
          </div>
          <div class="col-6">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"></div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"></div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"></div>
            </div>
          </div>
        </div>
        </div>
        
    </div>
    
</div>
<hr class="hr-color">
